.header {
    width: 100%;
    height: 260px;
    background-color: brown;
    font-family: 'Merienda', cursive;
}
.coffeeInfo {
    display: flex;
    margin-left: 8%;
}
.coffeeInfo p {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
h1 {
    color: #FFF;
    font-family: 'Merienda', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
@media (max-width: 445px) {
    .header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .coffeeHouseLogo {
        display: none;
    }
    .coffeeInfo {
        margin: 0;
        display: none;
    }
    .coffeeInfo p {
        font-size: 11px;
        white-space: nowrap;
    }
    h1 {
        margin: 0px 20px 0px 20px;
        font-size: 25px;
        font-weight: normal;
        white-space: nowrap;
    }
}